<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456359816363-2f0894q9vpnius1kq24h2c8lb9ahng5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456359816363-2f0894q9vpnius1kq24h2c8lb9ahng5t</string>
	<key>API_KEY</key>
	<string>AIzaSyBogSmxD0D_8pAXYUxcb4DuWmhQkQe-dcM</string>
	<key>GCM_SENDER_ID</key>
	<string>456359816363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fast8Test</string>
	<key>PROJECT_ID</key>
	<string>fast8-test-f13e8</string>
	<key>STORAGE_BUCKET</key>
	<string>fast8-test-f13e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456359816363:ios:b456626a97be0b24ad9bee</string>
</dict>
</plist>